/* 导航栏居中 */
#nav-right{
    flex:1 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap:nowrap;
}
/* 去掉导航栏选中后底下的蓝色长条 */
#nav *::after{
    background-color: transparent!important;
}

