#loading-box(onclick='document.getElementById("loading-box").classList.add("loaded")')
  #icat-splash
    .icat-loading
      img(src=url_for(theme.preloader.logo) data-src=url_for(theme.preloader.logo_dark))

script.
  var htmlElement = document.querySelector('html');
  if (htmlElement.getAttribute('data-theme') === 'dark') {
    var imgElement = document.querySelector('.icat-loading img');
    var dataSrc = imgElement.getAttribute('data-src');
    imgElement.src = dataSrc;
  }

  const preloader = {
    endLoading: () => {
      document.body.style.overflow = 'auto';
      document.getElementById('loading-box').classList.add("loaded")
    },
    initLoading: () => {
      document.body.style.overflow = 'hidden';
      document.getElementById('loading-box').classList.remove("loaded")
    }
  }

  preloader.initLoading()
  window.addEventListener('load',()=> { preloader.endLoading() })

  if (!{theme.pjax && theme.pjax.enable}) {
    document.addEventListener('pjax:send', () => { preloader.initLoading() })
    document.addEventListener('pjax:complete', () => { preloader.endLoading() })
  }
